<%= form_for(@phlog) do |f| %>
  <% if @phlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phlog.errors.count, "error") %> prohibited this phlog from being saved:</h2>

      <ul>
      <% @phlog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :pic %><br>
    <%= f.file_field :pic %>
  </div>
  <div class="field">
    <%= f.label :pic_processed %><br>
    <%= f.check_box :pic_processed %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
